.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the upper section with an image */
.upper-section {
    position: relative;
}

.upper-section img {
    width: 100%;
    height: auto;
    display: block;
}

/* Styles for the Wi-Fi icons in the bottom corner */
.wifi-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
}

.wifi-icons img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/* Styles for the lower section with heading, subheading, and paragraph */
.lower-section {
    padding: 15px;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subheading {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 14px;
    line-height: 1.4;
}


.container-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 100px; */
    justify-content: space-evenly;
}

/* Styles for the individual div elements */
.box {

    
    background-color: #007bff; /* Example background color */
    margin: 10px;
    display: flex;
    flex-direction: row; 
    

}
.buttons{
    display: flex;
    justify-content: space-between;
}


.extra-2{
    background-color: #007bff;
    
    
}

.extra-2:hover{
    background-color: #fff;
    border :1px solid #f77d2c ;
    color: #f76809;
}

.extra:hover{
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
}



/* modal css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 48%;
    max-height: 60%;
    overflow-y: auto;
    
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    position: fixed;
    z-index: 1000000;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  
  .text-section {
    margin-top: 20px;
    color: #fff;
  }
  