.table-container {
    width: 100%;
    overflow-x: auto;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.data-table th,
.data-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}


@media (max-width: 768px) {
    .data-table th,
    .data-table td {
        font-size: 14px;
        padding: 8px;
    }
}
