.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* top: 50%; */
    /* border: 2px solid white; */
    height: 80%;
    padding: 30px;
    
    font-family: "Source Sans Pro", "Arial", sans-serif;
    color: #fff;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 0 auto;
    text-align: center;
    top: 10%;
    justify-content: space-between;
}
.head-text{
    
    width: 60%;
    padding: 40px;
    /* border: 3px solid black; */
}
.head-text h3{
    font-family: monospace;
}
.head-text  h1 {font-size: 3rem;
    font-family: Jazz LET, fantasy;
}
.image {
    max-width: 100%;
}


.image-text {
    position: absolute;
    top: 50%;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 3px solid red; */
    color: #333;
    font-weight: bold;
}
.image-text span{ 
     font-size: 25px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: #ff6600; */
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    /* border: 1px solid grey; */
}
.arrow:hover{
    background-color: #ff6600;
}

.left-arrow {
    left: 100px;
    color: grey;
}

.left-arrow:hover{
    color: #fff;
}
.right-arrow {
    right: 100px;
    color: grey;
}
.right-arrow:hover{
    color: #fff;
}
#scrollButton{
    background-color: transparent;
   transform: rotate(90deg);
   font-size: 15px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent; 
    color: #000;
    width: 100%;
    /* border: 1px solid black; */
    /* padding: 10px; */
}

.nav-links{
    color: #0000;
}


.logo {
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
}

.logo a{
    text-decoration: none;
    color: #000;
}

 .logo span{
    color: #ff6600;
 }

.nav-links {
    list-style: none;
    padding: 0;
    /* margin: 0; */
    margin-right: 20px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}

.li{
    list-style: none;
}

.nav-items {
    margin-right: 20px;
    position: relative;
    transition: 0.9s;
}


.nav-items a {
    text-decoration: none;
    color: #000;
    position: relative;
    font-weight: bold;
    font-size: 1.3rem;
}


.rooms-a{
    text-decoration: none;
    transition: .9s;
}


.dropdown-menu.show {
    display: block;
    width: -67px;
    margin-top: 34px;
}

/* .nav-items li:hover{
    transform: rotateZ('360deg');
} */
/* .rooms-a:hover{
transform: rotateY('360deg');
} */
.nav-items:hover::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff6600; 
    bottom: -5px;
    /* transform: rotateX('360deg'); */
}

.extra-3:hover{
    background-color: transparent;
    color:#007bff ;
    /* border:1px solid #007bff; */


}
.book-button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.hamburger{
    display: none;
}

.right-menu{
    display: flex;
    flex-direction: row;
    /* border: 2px solid pink; */
   /* width: 40px; */
   width: 64%;
    justify-content: space-between;
}
.scroll{
    /* border: 4px solid yellow; */
    margin: 10px auto;
    width: 100px;

    transform: rotate(90deg);
    
    position: relative;
    animation:  4s linear 0s infinite alternate rise;
    
}


@keyframes rise {
    from {
        transform: translateY(3vh);
      }
      to {
        transform: translateY(0);
      }
    
  }
@media (max-width: 1192px) 
{
   
.nav-items li {
    font-size: 10px;
}

 .logo {
    width: 90px;
    font-size: 17px;
    font-weight: bold;
}
 .navbar{
    margin-top: -130px;
    height: 30%;
 }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
        /* text-align: center; */
        /* position: relative; */
        /* top: 70%; */
         color: #fff;

        flex-direction: column;
   
    /* position: absolute; */
    /* top: 5px; */
    /* padding-left: 170px; */
    /* width: 50%; */
    /* height: 100vh; */
   /* left: -100%; */
    /* z-index: 1; */
    height: 70%;
    /* justify-content: center; */
    /* justify-items: center; */
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* transition: 0.3s; */
    padding: 20px;
    }


    .right-menu{
        margin-top: 10px;
        flex-direction: column;
        text-align: center;
        position: relative;
        /* border: 2px solid pink; */
        top: 60%;
        width: 54%;
       
       /* width: 40px; */
       /* width: 60%; */
        /* justify-content: space-between; */
        left: -100%;
    z-index: 1;
    height: 20rem;
    /* justify-content: center; */
    /* justify-items: center; */
    /* background-color: rgba(0, 0, 0, 0.9); */
    transition: 0.3s;
    padding: 20px;
    }
    .nav-links.active{
        left: 0;
    }
    .right-menu.active{
        left: 0;
    }
         .nav-links.active  li a{
            font-size: 18px;
         }
    
    .nav-items {
        margin-right: 0;
        margin-bottom: 10px;
        
    }
    .hamburger {
        display:initial;
        /* margin-right:30px; */
        z-index:10000000000;
        color: black;
        /* background-color: black; */
     }
     .hamburger>:nth-child(1){
        color: #000;
     }

    

     .hamburger svg {
        display:initial;
        margin-right:30px;
        z-index:10000000000;
        /* color: black; */
        /* background-color: black; */
     }


     .image-text {
        position: absolute;
        top: 59%;
        left: 50%;
        width: 89%;
        transform: translate(-59%, 100%);
        font-size: 19px;
        color: #333;
        margin: auto;
        font-weight: bold;
      
    }

    .container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        top: 0%;
    }

    .head-text {
        width: 84%;
        padding: 40px;
        /* border: 3px solid black; */
    }
    .left-arrow {
        left: 30px;
        color: grey;
    }

    .right-arrow {
        right: 30px;
        color: grey;
    }
}
.container-1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    /* background-image: url(./sofa.png); */
    background-position: center;
background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}


.dropdown-item a{
    text-decoration: none;
    color: #000;
}
.reservation{
    /* border: 2px solid green; */
}